body{
  position: fixed;
  margin-bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}


.carousel-inner.vertical {
  height: 100%;
}
.carousel-inner.vertical > .item {
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top;
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
      -webkit-transform: translate3d( 0, 0, 0);
      transform: translate3d( 0, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
      -webkit-transform: translate3d( 0, 0, 0);
      transform: translate3d( 0, 0, 0);
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
       -webkit-transform: translate3d(0, 0, 0);
       transform: translate3d(0, 0, 0);
    }
}
.carousel-inner.vertical > .active {
  top: 0;
}
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
  top: 0;
  height: 100%;
  width: auto;
}
.carousel-inner.vertical > .next {
  left: 0;
  top: 100%;
}
.carousel-inner.vertical > .prev {
  left: 0;
  top: -100%
}
.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {
  top: 0;
}
.carousel-inner.vertical > .active.left {
  left: 0;
  top: -100%;
}
.carousel-inner.vertical > .active.right {
  left: 0;
  top: 100%;
}

.carousel-indicators{
  position: absolute;
  bottom: 50%;
  width: 100%;
  left: 30%;
  transform: rotate(270deg);
}

.carousel-indicators .active {
  width: 20px;
  height: 20px;
}

.carousel-indicators li {
    text-decoration: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: -webkit-right;
    transform: rotate(90deg);
}

.enlace {
    text-decoration: none;
    color: white;
    text-decoration: inherit;
}

-

.carruloco{
  width: 85%;
}

.fondo{
  background-image: url(../img/background.jpg);
  height: 100vh;
  width: 100%;
}

.fondo2 {
  background-image: url(../img/background_2.jpg);
  height: 100vh;
  width: 100%;
}

.logo{
  position: absolute;
  right: 25%;
  bottom: 25%;
}


.student{
  position: absolute;
  width: 18%;
  right: 28%;
  bottom: 18%;

}

.alumno{
    position: absolute; 
    width: 550px;
    height: 46px;
    right: 18%;
    bottom: 29%;
    background-color: rgba(69, 156, 230, 0.65);
    border: #5D5353 solid;
    border-width: 4px;

}

.nombre{
    text-align: center;
    margin-top: -3px;
    font-size: 32px;
    font-family: monospace;

}

.descripcion{
    position: absolute;
    width: 450px;
    height: 380px;
    bottom: 29%;
    left: 5%;
    background-color: rgba(69, 156, 230, 0.65);
    border: #5D5353 solid;
    border-width: 1px;
}

.textos{
  position: absolute;
  width: 430px;
  height: 360px;
  left: 2%;
  bottom: 3%;
}

.redes{
  position: absolute;

  text-align: center;
  width: 100%;
  height: 45px;
  bottom: 4%;
}

#facebook{
  position: absolute;
  left: 23%;
  -webkit-filter: invert(62%);
}

#instagram{
  position: absolute;
  left: 48%;
  -webkit-filter: invert(62%);
}
#twitter{
  position: absolute;
  left: 73%;
  -webkit-filter: invert(62%);
}
.panel {
  position: absolute;
  width: 15%;
  background: black;
  bottom: -25px;
  right: 0;
  top: 0;
}

.arrowt {
  transform: rotate(90deg);
  margin-top: -93vh;
  margin-left: 33vw;
}

.arrowb {
  transform: rotate(90deg);
  margin-bottom: -93vh;
  margin-right: 47vw;
}

----------------------------------------

